---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Page Not Found | 404"
  description="Lo siento, la p치gina que est치s buscando no se encuentra disponible. Es posible que hayas ingresado una direcci칩n incorrecta o que la p치gina haya sido eliminada."
>
  <h1>ERROR 404</h1>
</Layout>
