---
import Container from "@/components/Contenedor.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Términos y Condiciones - Dra. Sandra Alba"
  description="En estos términos y condiciones, encontrarás información importante sobre los servicios que ofrezco, los derechos y responsabilidades tanto tuyos como míos, así como detalles sobre la confidencialidad y la privacidad de tus datos."
>
  <Container>
    <section class="flex flex-col justify-center my-16">
      <h1 class="text-[#351d13] text-4xl font-extrabold text-center">
        Términos y Condiciones de Uso
      </h1>
      <p class="mt-5">
        Por favor, lee estos términos y condiciones de uso cuidadosamente antes
        de utilizar este sitio web.
      </p>
      <h4>1. Aceptación de los Términos</h4>
      <p>
        Al acceder y utilizar este sitio web, aceptas estar sujeto a estos
        términos y condiciones de uso, todas las leyes y regulaciones
        aplicables, y aceptas que eres responsable de cumplir con las leyes
        locales aplicables. Si no estás de acuerdo con alguno de estos términos,
        se te prohíbe utilizar o acceder a este sitio. Los materiales contenidos
        en este sitio web están protegidos por las leyes de propiedad
        intelectual y derechos de autor aplicables.
      </p>
      <h4>2. Uso de la Información</h4>
      <p>
        La información proporcionada en este sitio web es solo para fines
        informativos. La información no debe ser interpretada como asesoramiento
        legal o una relación abogado-cliente. No se establece una relación
        abogado-cliente entre tú y la Dra. Sandra Liliana Alba Mendieta hasta
        que haya sido aceptada y confirmada.
      </p>

      <h4>3. Limitaciones</h4>
      <p>
        En ningún caso Dra. Sandra Liliana Alba Mendieta o sus proveedores serán
        responsables por daños (incluyendo, sin limitación, daños por pérdida de
        datos o beneficios, o debido a la interrupción del negocio)
      </p>
      <h4>4. Modificaciones de los Términos de Usos</h4>
      <p>
        La Dra. Sandra Liliana Alba Mendieta puede revisar y cambiar estos
        términos de uso para su sitio web en cualquier momento sin previo aviso.
        Al utilizar este sitio web, aceptas estar sujeto a la versión actual de
        estos términos y condiciones de uso.
      </p>
      <p class="mt-2">
        Al utilizar este sitio web, aceptas y comprendes estos términos y
        condiciones de uso. Si no estás de acuerdo con ellos, por favor no
        utilices este sitio web.
      </p>
      <p class="mt-7 relative">
        Si tienes alguna pregunta sobre estos términos y condiciones de uso, por
        favor <a
          href="/contacto"
          class="absolute -top-1 text-center rounded-lg hover:bg-[#351d13] hover:-translate-y-1
        transition font-semibold hover:text-white px-2 py-1
        cursor-pointer"
          >contáctanos.</a
        >
      </p>
      <p class="mt-7">
        Fecha de la última actualización: <span class="font-extrabold"
          >22/04/2024</span
        >
      </p>
    </section>
  </Container>

  <style>
    h4 {
      font-size: 30px;
      color: #351d13;
      margin-top: 30px;
      font-weight: 800;
    }
    p,
    ul {
      color: #351d13;
    }
    ul {
      list-style: circle;
    }
  </style>
</Layout>
