---
import Layout from "@/layouts/Layout.astro";
import Toastify from "@/components/Components-utils/Toastify.jsx";
import type { persist } from "zustand/middleware";
---

<Layout
  title=" ¡Contactame ahora para una consulta personalizada!"
  description="¿Necesitas asesoramiento legal? Estoy aquí para ayudarte. Mi nombre es Sandra Alba, abogada especializada en derecho laboral. Ofrezco consultas personalizadas sobre temas civiles, familia y administrativo, para resolver tus dudas legales y proporcionarte la orientación que necesitas."
>
  <div class="max-w-2xl lg:w-[1000px] mx-auto pt-20 pb-0 md:pt-7 md:pb-20">
    <fieldset
      class="border-2 p-10 rounded-3xl border-x-orange-300 border-pink-500 h-full min-h-full"
    >
      <legend
        class="gap-5 px-8 uppercase text-white-900/50 font-semibold text-[#CAA152]"
        >Formulario de Contacto</legend
      >
      <div
        id="loading"
        class="hidden flex absolute inset-0 bg-gray-900 bg-opacity-50 items-center justify-center z-50 min-h-full"
      >
        <div class="loadersito"></div>
      </div>

      <Toastify client:visible />
    </fieldset>
  </div>
</Layout>

<style>
  /* HTML: <div class="loader"></div> */

  .loadersito {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #ffc400;
    box-shadow:
      calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
      calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
      calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
      calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
      calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
      calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
      calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {
      transform: rotate(1turn);
    }
  }
</style>
