---
import Layout from "@/layouts/Layout.astro";
import GrillasBento from "@/components/GrillasBento.astro";
import Features from "@/components/Features.astro";
import Direccion from "@/components/Direccion.astro";
import SectionMain from "@/components/SectionMain.astro";
import Services from "@/components/Services.astro";
---

<Layout
  title="Abogada Sandra Alba - Protegiendo tus Intereses: Asesoría Legal Profesional"
  description="¡Protege tus derechos legales con la ayuda de un experto! Dra. Sandra Alba, abogada especializada en derecho laboral, ofrece asesoramiento de calidad en contratos civiles, asuntos de familia, procedimientos administrativos y conflictos laborales."
>
  <main class="">
    <SectionMain />
    <GrillasBento />
    <!-- <ExperienciaTotal /> -->
    <Features id="experiencia" />
    <!-- <Services /> -->
    <Direccion />
  </main>
</Layout>
