---
import Layout from "../layouts/Layout.astro";
import WhatsappIcon from "../icons/Whatsapp.astro";
import ExperienciaTotal from "../components/ExperienciaTotal.astro";
import Contenedor from "../components/Contenedor.astro";
import AboutMe from "../components/AboutMe.astro";
import GrillasBento from "../components/GrillasBento.astro";
import Features from "../components/Features.astro";
import Direccion from "../components/Direccion.astro";
import SectionMain from "@/components/SectionMain.astro";
---

<Layout
  title="Sandra Liliana Alba Mendieta - Abogada Litigante"
  description="¡Protege tus derechos laborales con la ayuda de un experto! Sandra Liliana Alba, abogada especializada en Derecho Laboral, ofrece asesoramiento legal integral y representación en casos de discriminación, salarios impagos, despidos injustificados y más. ¡Contacta ahora para una consulta personalizada!"
>
  <main class="">
    <a href='https://wa.link/1nid20"' class="fixed">
      <WhatsappIcon
        class="absolute size-14 top-[510px] left-[1425px] rounded-full bg-white shadow-xl shadow-green-500/70 hover:-translate-y-3 transition-all duration-200"
      />
    </a>
    <SectionMain />
    <GrillasBento />
    <ExperienciaTotal />
    <Features />
    <AboutMe />

    <Direccion />
  </main>
</Layout>
