---
import Layout from "../layouts/Layout.astro";
import BadgeButton from "../components/Bagde.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import SocialMedia from "../components/SocialMedia.astro";
import FacebookIcon from "../icons/Facebook.astro";
import InstagramIcon from "../icons/Instagram.astro";
import MailIcon from "../icons/Mail.astro";
import MaletaIcon from "../icons/Maleta.astro";
import ExperienciaTotal from "../components/ExperienciaTotal.astro";
import Contenedor from "../components/Contenedor.astro";
import AboutMe from "../components/AboutMe.astro";
import GrillasBento from "../components/GrillasBento.astro";
import Services from "../components/Services.astro";
---

<Layout
  title="Sandra Liliana Alba Mendieta - Abogada Litigante"
  description="¡Protege tus derechos laborales con la ayuda de un experto! Sandra Liliana Alba, abogada especializada en Derecho Laboral, ofrece asesoramiento legal integral y representación en casos de discriminación, salarios impagos, despidos injustificados y más. ¡Contacta ahora para una consulta personalizada!"
>
<main class="px-5">
    <Contenedor class="">
      <div class="grid grid-cols-10 gap-x-10 ml-1">
        <div class="col-span-7 auto-rows-auto">
          <h1
            class="text-[#351d13]/60 text-xl md:text-3xl xl:text-5xl font-bold flex flex-row gap-4 pb-5"
          >Dra. Sandra Alba<div class="flex justify-center items-center">
              <BadgeButton>Abogada Litigante</BadgeButton>
            </div>
          </h1>
          <p
            class="text-pretty text-sm md:text-lg xl:text-xl opacity-80 text-black/80 font-extralight text-justify "
          >
            Me enorgullece presentarme como abogada especializada en Derecho
            Laboral. Con una profunda pasión por la justicia y un compromiso
            inquebrantable con los derechos de los trabajadores. Creo firmemente en
            la importancia de equilibrar el poder entre empleadores y empleados, y
            trabajo incansablemente para asegurar que mis clientes reciban la
            representación legal experta que merecen.
          </p>
          <nav
            class="flex justify-center md:justify-normal gap-1.5 lg:gap-4 flex-row py-4 flex-wrap"
          >
            <SocialMedia href="/">
              <FacebookIcon class="size-4 md:size-5" />
              <span class="text-[12px] text-black/80">Facebook</span>
            </SocialMedia>
            <SocialMedia href="/">
              <LinkedinIcon class="size-4 md:size-5" />
              <span class="text-[12px] text-black/80">Linkedin</span>
            </SocialMedia>
            <SocialMedia href="/">
              <InstagramIcon class="size-4 md:size-5" />
              <span class="text-[12px] text-black/80">Instagram</span>
            </SocialMedia>
            <SocialMedia href="/">
              <MailIcon class="size-4 md:size-5" />
              <span class="text-[12px] text-black/80"> sandraliliana@gmail.com</span>
            </SocialMedia>
          </nav>
        </div>
        <div class="col-span-3 auto-rows-auto max-w-full">
          <img class="-mt-8 rounded-full " src="/public/fotoPrincipal.jpg" alt="">
        </div>
      </div>
    </Contenedor>
    <Contenedor id="experiencia">
      <h2
        class="text-2xl md:text-4xl font-semibold mb-8 flex flex-row items-center gap-4"
      >
        <MaletaIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <ExperienciaTotal />
    </Contenedor>
    <Contenedor>
      <Services/>
    </Contenedor>
    <Contenedor>
      <GrillasBento />
    </Contenedor>
    <Contenedor>
      <AboutMe />
    </Contenedor>
    
  </main>
</Layout>
