---
import Layout from "@/layouts/Layout.astro";
import GrillasBento from "@/components/GrillasBento.astro";
import Features from "@/components/Features.astro";
import Direccion from "@/components/Direccion.astro";
import SectionMain from "@/components/SectionMain.astro";
import Services from "@/components/Services.astro";
---

<Layout
  title="Sandra Liliana Alba Mendieta - Abogada Litigante"
  description="¡Protege tus derechos laborales con la ayuda de un experto! Sandra Liliana Alba, abogada especializada en Derecho Laboral, ofrece asesoramiento legal integral y representación en casos de discriminación, salarios impagos, despidos injustificados y más. ¡Contacta ahora para una consulta personalizada!"
>
  <main class="">
    <SectionMain />
    <GrillasBento />
    <!-- <ExperienciaTotal /> -->
    <Features id="experiencia" />
    <Services />
    <Direccion />
  </main>
</Layout>
