---
import Container from "@/components/Contenedor.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Políticas de Privacidad - Abogada Sandra Alba"
  description="Bienvenido a la Política de Privacidad de Sandra Alba. En esta sección, te informaré sobre cómo se recopila, utiliza, divulga y protege tu información personal cuando utilizas mis servicios legales."
>
  <Container>
    <section class="flex flex-col justify-center my-16">
      <h1 class="text-[#351d13] text-4xl font-extrabold text-center">
        Política de Tratamiento de Datos Personales
      </h1>
      <h4>1. Introducción</h4>
      <p>
        En mi práctica legal, me comprometo a proteger la privacidad de los
        datos personales de mis usuarios y clientes. Esta política de
        tratamiento de datos personales describe cómo recopilo, uso, almaceno y
        protejo la información personal que se me confía a través de mi página
        web <a href="/">[URL de la página web]</a>.
      </p>
      <h4>2. Recopilación de Datos Personales</h4>
      <p>
        Recopilo datos personales que los usuarios y clientes me proporcionan de
        manera voluntaria, como nombre, dirección de correo electrónico, número
        de teléfono y otra información relevante, cuando se comunican conmigo a
        través del formulario de contacto.
      </p>
      <h4>3. Uso de Datos Personales</h4>
      <p>Usamos los datos personales para los siguientes propósitos:</p>
      <nav>
        <ul>
          <li>
            Responder a consultas y solicitudes de los usuarios y clientes.
          </li>
          <li>Proporcionar asesoramiento legal y servicios relacionados.</li>
          <li>
            Enviar información sobre nuestros servicios, eventos y
            actualizaciones legales si el usuario ha dado su consentimiento para
            recibir dichas comunicaciones.
          </li>
          <li>Cumplir con obligaciones legales y normativas.</li>
        </ul>
      </nav>
      <h4>4. Almacenamiento y Protección de Datos Personales</h4>
      <p>
        Almacenamos los datos personales de forma segura y adoptamos medidas de
        seguridad razonables para protegerlos contra el acceso no autorizado, la
        divulgación, la alteración o la destrucción.
      </p>
      <h4>5. Compartición de Datos Personales</h4>
      <p>
        No compartimos datos personales con terceros, excepto cuando sea
        necesario para cumplir con los servicios contratados o cuando la ley lo
        exija.
      </p>
      <h4>6. Derechos de los Titulares de Datos</h4>
      <p>Los titulares de datos tienen derecho a:</p>
      <ul>
        <li>Acceder a sus datos personales.</li>
        <li>Solicitar la corrección de datos inexactos.</li>
        <li>Solicitar la eliminación de sus datos personales.</li>
        <li>
          Retirar su consentimiento para el uso de sus datos personales en
          cualquier momento.
        </li>
      </ul>
      <h4>7. Cambios a esta Política</h4>
      <p>
        Nos reservamos el derecho de modificar esta política en cualquier
        momento. Los cambios se publicarán en nuestra página web y entrarán en
        vigor inmediatamente.
      </p>
      <h4>8. Contacto</h4>
      <p>
        Si tiene alguna pregunta o inquietud sobre esta política de tratamiento
        de datos personales, comuníquese con nosotros a través de <a
          href="mailto:sandraliliana1202@hotmail.com"
          class="underline"
        >
          sandraliliana1202@hotmail.com</a
        >.
      </p>
    </section>
  </Container>

  <style>
    h4 {
      font-size: 30px;
      color: #351d13;
      margin-top: 30px;
      font-weight: 800;
    }
    p,
    ul {
      color: #351d13;
    }
    ul {
      list-style: circle;
    }
  </style>
</Layout>
