<div class="flex flex-col md:flex-row gap-x-10 justify-center items-center text-justify text-black/80">
  <div class="[&>p]:mb-6 text-base">
    <p>
      Mi nombre es <span class="text-[#7f4f29] font-extrabold">Sandra Liliana Alba Mendieta</span> y soy una apasionada
      abogada especializada en <span class="text-[#7f4f29] font-extrabold">derecho laboral</span>. Mi enfoque principal se centra en asesorar a empleados y <strong class="text-red-500">sindicatos</strong> en una
      amplia gama de <span class="text-[#7f4f29] font-extrabold">asuntos laborales</span>, desde disputas salariales y
      hasta despidos injustificados y condiciones laborales injustas.
    </p>
    
    <p>
      Mi objetivo es no solo resolver los problemas laborales de mis clientes,
      sino también <span class="text-[#7f4f29] font-extrabold">crear un impacto positivo en el sistema legal</span> en su conjunto.
      Estoy comprometido a proporcionar un servicio legal excepcional, basado en
      la integridad, la ética y la compasión. Si estás enfrentando desafíos en
      tu lugar de trabajo o necesitas <span class="text-[#7f4f29] font-extrabold">asesoramiento legal en materia laboral</span>,
      estoy aquí para ayudarte a alcanzar una solución justa y satisfactoria.
    </p>
  </div>
<div>
  <img
    src="fotoPersonal.webp"
    alt="Foto personal de about me"
    class="rotate-3 scale-75 md:scale-150 lg:scale-125 "
  />
</div>
<section/>