<div class="flex flex-col md:flex-row gap-x-10 justify-center items-center text-justify">
  <div class="[&>p]:mb-6">
    <p>
      Mi nombre es <span class="text-emerald-200">Sandra Liliana Alba Mendieta</span> y soy una apasionada
      abogada especializada en derecho laboral. Mi enfoque principal se centra en asesorar a empleados y sindicatos en una
      amplia gama de asuntos laborales, desde disputas salariales y
      discriminación hasta despidos injustificados y condiciones laborales
      injustas.
    </p>
    <p>
      Mi objetivo es no solo resolver los problemas laborales de mis clientes,
      sino también crear un impacto positivo en el sistema legal en su conjunto.
      Estoy comprometido a proporcionar un servicio legal excepcional, basado en
      la integridad, la ética y la compasión. Si estás enfrentando desafíos en
      tu lugar de trabajo o necesitas asesoramiento legal en materia laboral,
      estoy aquí para ayudarte a alcanzar una solución justa y satisfactoria.
    </p>
  </div>
<div>
  <img
    src="/public/fotoPersonal.webp"
    alt="Foto personal de about me"
    class="rotate-3 scale-75 md:scale-150 lg:scale-125 "
  />
</div>
<section/>