<span class="py-[2.5px] px-[2px] relative flex overflow-hidden rounded-full">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#f1e9d0_0%,red_50%,#f1e9d0_100%)]"
  ></span>
  <div
    class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-900/80 px-3 py-1 text-xs font-medium text-[#f9f6ed] backdrop-blur-3xl"
  >
    <slot />
  </div>
</span>
