---
const {class: className, id} = Astro.props
---
<section id={`${Astro.props.id}`} class={`w-full lg:w-[1000px] mx-auto pt-20 pb-0 md:pt-15 md:pb-20 overflow-hidden ${Astro.props.class} `}>
    <slot/>
</section>