<section class="flex flex-col justify-center text-center text-[#351d13] gap-x-10">
  <h3 class="py-10 text-[#351d13] text-4xl font-extrabold">Oficinas y Consultorios</h3>
  <div class="flex flex-row gap-x-10 justify-center items-center">
    <div class="flex flex-col gap-y-10 justify-start">
      <div class="[&>p:my-10] flex flex-col">
        <h3 class="mb-3 text-3xl text-[#A28541] font-extrabold">
          Chiquinquirá
        </h3>
        <p>Cra. 9 #17-87, Chiquinquirá, Boyacá</p>
        <p>Celular: +57 322 818 1218</p>
      </div>
      <div class="[&>p:my-10] flex flex-col">
        <h3 class="mb-3 text-3xl text-[#A28541] font-extrabold">Bogotá</h3>
        <p>Cra. 9 #17-87, Chiquinquirá, Boyacá</p>
        <p>Celular: +57 322 818 1218</p>
      </div>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.6602366719776!2d-73.81762372577269!3d5.617085533034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e41c9b70ca43ed5%3A0x2e78c76432e4f7a8!2zQ3JhLiA5ICMxNy04NywgQ2hpcXVpbnF1aXLDoSwgQm95YWPDoQ!5e0!3m2!1ses!2sco!4v1707436539800!5m2!1ses!2sco"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
