---
import GrillasBentoItem from "./GrillasBentoItem.astro";
---

<section
  class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[500px] gap-5 mx-auto px-10 text-white/80"
>
  <GrillasBentoItem
    class="col-span-10 md:col-span-4"
    title="Tunja - Boyacá"
    subtitle="Asistencia legal"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full
      h-full group-hover:scale-110 group-hover:bg-white transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-transparent -z-10"
      style="background-image: url('tunja.jpg');"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Valoramos la confianza y la confidencialidad, y nos esforzamos por
      construir relaciones sólidas y duraderas con nuestros clientes basadas en
      el respeto mutuo y la colaboración.
    </p>
  </GrillasBentoItem>
  <GrillasBentoItem
    class="col-span-10 md:col-span-6"
    title="Chiquinquirá - Boyacá"
    subtitle="Asistencia legal"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full
      h-full group-hover:scale-110 group-hover:bg-white transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-transparent -z-10"
      style="background-image: url('Chiquinquira_2.jpeg');"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Mi objetivo es asegurarme de que comprendan completamente sus derechos
      legales y las opciones disponibles para resolver su situación legal de
      manera favorable. Trabajaré incansablemente para proteger sus intereses y
      buscar la mejor solución posible para su caso.
    </p>
  </GrillasBentoItem>
  <GrillasBentoItem
    class="col-span-10 md:col-span-6"
    title="Villa de Leyva - Boyacá"
    subtitle="Asistencia legal"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full
      h-full group-hover:scale-110 group-hover:bg-white transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-transparent -z-10"
      style="background-image: url('villa de leyva.jpg');"
    >
    </div>
    <p slot="content" class="max-w-xl">
      En mi práctica legal, priorizo la comunicación abierta y transparente con
      mis clientes. Mi objetivo es asegurarme de que comprendan completamente
      sus derechos legales y las opciones disponibles para resolver su situación
      legal de manera satisfactoria.
    </p>
  </GrillasBentoItem>
  <GrillasBentoItem
    class="col-span-10 md:col-span-4"
    title="Sáchica - Boyacá"
    subtitle="Asistencia legal"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full
      h-full group-hover:scale-110 group-hover:bg-white transition-scale duration-1000
      ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-transparent -z-10"
      style="background-image: url('SACHICA_2.jpg');"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Además de mis servicios de representación legal, ofrezco talleres
      informativos y sesiones de asesoramiento gratuitas para ayudar a informar
      a nuestros ciudadanos sobre temas legales relevantes, desde sus derechos
      básicos hasta cómo navegar por el sistema legal con confianza.
    </p>
  </GrillasBentoItem>
</section>
