---
interface Props {
  class?: string;
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props;
---

<article
  class={`${Astro.props.class} relative group overflow-hidden rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10`}
>
  <!-- TODO: Degradado del cuadro BENTO -->
  <div class="absolute z-100 bottom-0 top-0 size-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80"></div>
  <slot name="image" />
  <div
    class="relative select-none flex flex-col gap-1 p-4 text-lg z-20 justify-end h-full"
  >
    <h2 class="text-3xl font-bold text-balance text-[#f1e9d0] mb-1">{title}</h2>
    {
      subtitle && (
        <h4 class="text-3xl font-bold text-[#A28541] ">{subtitle}</h4>
      )
    }
    <slot name="content" />
  </div>
</article>
