---
---
<header class="mx-auto flex flex-col-reverse md:flex-row justify-between items-center w-full xl:w-[1000px]">
    <img class="size-32 xl:size-44" src="/logo.png" alt="Foto Logo Página">
    <nav class="flex flex-row gap-x-2 xl:gap-x-5 font-semibold text-xs lg:text-base text-[#CAA152]">
        <a class="py-2 px-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-semibold hover:-translate-y-1 transition-all delay-150 ease-in-out " href="/">Inicio</a>
        <a class="py-2 px-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-semibold hover:-translate-y-1 transition-all delay-100 ease-in-out " href="/#Acerca de mi">Acerca de mi</a>
        <a class="py-2 px-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-semibold hover:-translate-y-1 transition-all delay-100 ease-in-out " href="/#experiencia">Experiencia</a>
        <a class="py-2 px-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-semibold hover:-translate-y-1 transition-all delay-100 ease-in-out " href="/contacto">Contacto</a>
    </nav>
</header> 
