---
import Menu from "@/icons/others/menu.astro";
import X from "@/icons/others/x.astro";
import Container from "@/components/Contenedor.astro";
---

<header
  class="flex md:sticky top-0 justify-between items-center py-5 px-5 md:py-2 z-[99]"
>
  <Container>
    <a href="/" class="z-[99999]">
      <img
        class="size-32 md:size-28"
        decoding="async"
        loading="lazy"
        src="logo.avif"
        alt="Logo de la balanza de la justicia - abogada especializada"
      />
    </a>
    <nav
      id="menu"
      class="text-4xl md:text-base min-h-full inset-0 md:static md:bg-transparent fixed text-center justify-center pt-56 md:pt-0
    hidden md:flex opacity-90 font-extrabold text-[#CAA152] bg-gradient-to-t to-slate-900 from-slate-900 md:from-transparent h-[100vh] md:h-auto"
    >
      <ul
        class="flex flex-col md:flex-row justify-center gap-10 md:gap-4 font-extrabold"
      >
        <li class="font-extrabold">
          <a
            class="py-2 px-3 hover:-translate-y-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-extrabold transition delay-150 ease-in-out"
            href="/">Inicio</a
          >
        </li>
        <li class="font-extrabold">
          <a
            class="py-2 px-3 hover:-translate-y-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-extrabold transition delay-100 ease-in-out"
            href="/Sobre-Mi">Sobre mí</a
          >
        </li>
        <li class="font-extrabold">
          <a
            class="py-2 px-3 hover:-translate-y-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-extrabold transition delay-100 ease-in-out"
            href="/#experiencia">Experiencia</a
          >
        </li>
        <li class="font-extrabold">
          <a
            class="py-2 px-3 hover:-translate-y-3 rounded-md hover:bg-yellow-500/70 hover:text-slate-800 font-extrabold transition delay-100 ease-in-out"
            href="/contacto">Contacto</a
          >
        </li>
      </ul>
    </nav>
    <div class="z-50 mr-5 md:hidden relative flex">
      <Menu
        class="absolute opacity-1 cursor-pointer text-orange-800 size-7 menuview"
      />
      <X
        class="opacity-0 cursor-pointer size-7 menuclose text-orange-800 z-50"
      />
    </div>
  </Container>
</header>
<style>
  @media (min-width: 768px) {
    header {
      transition: animation 0.2s ease-in;
      animation: scroll linear both;
      animation-timeline: scroll(root block);
      animation-range: 0 10px;
    }

    @keyframes scroll {
      100% {
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
      }
    }
  }
  .menuview,
  .menuclose {
    transition: opacity 0.2s ease-in-out;
  }
</style>

<script>
  const $menuView = document.querySelector(".menuview");
  const $menuClose = document.querySelector(".menuclose");
  const $navBar = document.querySelector("#menu");

  $menuView.addEventListener("click", () => {
    $menuView.classList.toggle("opacity-0");
    $menuClose.classList.toggle("opacity-0");
    $navBar.classList.toggle("hidden");

    window.removeEventListener("wheel", preventDefault);
    window.removeEventListener("touchmove", preventDefault);
    document.body.classList.toggle("overflow-hidden");
  });

  $menuClose.addEventListener("click", () => {
    $menuClose.classList.toggle("opacity-0");
    $menuView.classList.toggle("opacity-0");
    $navBar.classList.toggle("hidden");

    window.addEventListener("wheel", preventDefault, { passive: false });
    window.addEventListener("touchmove", preventDefault, { passive: false });
    document.body.classList.toggle("overflow-hidden");
  });

  function preventDefault(e) {
    e.preventDefault();
  }
</script>
