---
import Contenedor from "./Contenedor.astro";
import SocialMedia from "./SocialMedia.astro";
import FacebookIcon from "@/icons/Facebook.astro";
import InstagramIcon from "@/icons/Instagram.astro";
import MailIcon from "@/icons/Mail.astro";
import BadgeButton from "./Bagde.astro";
import Phone from "@/icons/Phone.astro";
---

<Contenedor class="min-h-[80vh]">
  <div class="flex flex-col lg:grid lg:grid-cols-10 lg:gap-x-20 ml-1">
    <div
      class="flex flex-col sm:col-span-10 m-auto lg:col-span-6 auto-rows-auto"
    >
      <h1
        class="text-[#351d13]/60 text-xl md:text-3xl xl:text-5xl font-bold flex flex-row gap-4 pb-5 justify-center"
      >
        Dra. Sandra Alba<div class="flex justify-center items-center">
          <BadgeButton>Abogada Litigante</BadgeButton>
        </div>
      </h1>
      <p
        class="text-pretty text-sm md:text-lg xl:text-xl opacity-80 text-black/80 font-extralight text-justify"
      >
        Me enorgullece presentarme como abogada especializada en Derecho
        Laboral. Con una profunda pasión por la justicia y un compromiso
        inquebrantable con los derechos de los trabajadores. Creo firmemente en
        la importancia de equilibrar el poder entre empleadores y empleados, y
        trabajo incansablemente para asegurar que mis clientes reciban la
        representación legal experta que merecen.
      </p>
      <nav class="flex justify-center gap-1.5 lg:gap-3 flex-row py-4 flex-wrap">
        <SocialMedia
          href="https://www.facebook.com/profile.php?id=100066769206943"
        >
          <FacebookIcon class="size-4 lg:size-5" />
          <span class="text-[12px] text-black/80">Facebook</span>
        </SocialMedia>
        <SocialMedia href="tel:+573132405135">
          <Phone class="size-4 md:size-6" />
          <span class="text-[12px] text-black/80"> Teléfono</span>
        </SocialMedia>
        <SocialMedia href="/">
          <InstagramIcon class="size-4 md:size-5" />
          <span class="text-[12px] text-black/80">Instagram</span>
        </SocialMedia>
        <SocialMedia href="mailto:sandraliliana@hotmail.com">
          <MailIcon class="size-4 md:size-5" />
          <span class="text-[12px] text-black/80">
            sandraliliana1202@hotmail.com</span
          >
        </SocialMedia>
      </nav>
    </div>
    <div
      class="col-span-10 m-auto lg:col-span-4 auto-rows-auto w-72 max-w-full"
    >
      <img
        class="lg:-mt-8 rounded-3xl w-96"
        src="Foto-Sandra-conFondo.avif"
        alt=""
      />
    </div>
  </div>
</Contenedor>
