---
interface Props {
  number?: string;
  content?: string;
  image?: string;
}

const SERVICES = [
  {
    number: "3",
    image: "anios.svg",
    content: "Años de experiencia",
  },
  {
    number: "1000",
    image: "seguidores.svg",
    content: "Seguidores en redes sociales",
  },
  {
    number: "500",
    image: "trabajos.svg",
    content: "Servicios realizados",
  }
];
---

<section class="">
  <h3 class="text-center text-4xl mb-12 text-[#351d13] font-bold">Cantidad de servicios realizados</h3>
  <div class="flex flex-row justify-center gap-24 font-semibold">
    {
      SERVICES.map((service) => (
        <article class="flex flex-col text-xl text-[#351d13]">
          <div class="flex flex-row items-center gap-5 justify-center mb-2">

            <p class="text-5xl">+{service.number}</p>
            <img class="size-14" src={service.image} alt="Imagen de servicios" />
          </div>
          <p class="font-semibold">{service.content}</p>
        </article>
      ))
    }
  </div>
</section>
