<a
  class="rounded-xl border
  border-black/30 flex text-center justify-center items-center gap-x-1.5
  md:gap-x-2 py-1 px-2 text-xs md:text-lg lg:text-xl md:py-2 md:px-3
  bg-white/5 hover:scale-105 hover:bg-white/50 hover:font-extrabold transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot class="" />
</a>
